#!/bin/bash

# Removing old host entries
{% for vm in virtual_machines %}
{% if vm.node_type in ["masters", "bootstrap"] %}
virsh net-update default delete dns-host "<host ip='{{ vm_ips_dict[vm.name] }}'></host>"
{% endif %}
{% endfor %}

{% for vm in virtual_machines %}
{% if vm.node_type == "bootstrap" %}
# Adding bootstrap without api entry
virsh net-update default add dns-host \
  "<host ip='{{ vm_ips_dict[vm.name] }}'> \
    <hostname>{{ ocp4_cluster_name }}.{{ ocp4_base_domain }}</hostname> \
    <hostname>{{ vm.name }}.{{ ocp4_base_domain }}</hostname> \
  </host>"
{% endif %}

{% if vm.node_type == "masters" %}
# Adding master with api entry
virsh net-update default add dns-host \
  "<host ip='{{ vm_ips_dict[vm.name] }}'> \
    <hostname>{{ ocp4_cluster_name }}-api.{{ ocp4_base_domain }}</hostname> \
    <hostname>{{ ocp4_cluster_name }}-etcd-0.{{ ocp4_base_domain }}</hostname> \
    <hostname>{{ ocp4_cluster_name }}-master-0.{{ ocp4_base_domain }}</hostname> \
    <hostname>{{ vm.name }}.{{ ocp4_base_domain }}</hostname> \
   </host>"
{% endif %}
{% endfor %}
